* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: duIr;
  src: url(../fuentes/IrishGrover-Regular.ttf);
}

@font-face {
  font-family: gae;
  src: url(../fuentes/NotoSansJP-VariableFont_wght.ttf);

}




/* Estilos para pantallas más grandes */
.container {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

/* Estilos para pantallas más pequeñas
  @media only screen and (max-width: 400px) {
    .title_header {
      font-size: 3.5em;
    }
  
    .nav_header {
      flex-flow: column;
    }
  
    .ul_nav {
      width: 100%;
    }
  
    .ul_nav li a {
      font-size: 1.2em;
    }
  
    #fechaDia {
      width: 50%;
      font-size: 0.8em;
    }
  
    .singLogIn {
      width: 20%;
    }
  
    .entrando {
      width: 100%;
      margin-inline-start: 0;
    }
  
    .section_container {
      grid-template-columns: 1fr;
    }
  
    .article_section_container {
      grid-template-columns: 1fr;
    }
  
    .title_section {
      font-size: 2em;
    }
  
    .section_article {
      height: 100%;
      padding: 5%;
    }
  
    .titulo_section_article {
      font-size: 1.2em;
    }
  
    .ul_section {
      font-size: 1.2em;
    }
  } */

.header_container {
  width: 95%;
  height: 20vh;
  padding-inline-start: 2%;


}

.title_header {
  object-fit: contain;
  height: 20vh;
  padding-inline-start: 2%;
  color: #CD4C0F;
  font-size: 5.5em;
  font-weight: 500;
  font-family: duIr;
  text-align: center;
  background-color: #0c6d16;
}


.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #FDCE6D;
  margin: 0.2%;
}

.ul_nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 100%;

}

.ul_nav li a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0c6d16;
  font-size: 1.5em;
  font-family: duIr;
}

#fechaDia {
  color: #ffffff;
  width: 30%;
  background-color: #0c6d16;
  font-size: 0.99em;
  font-family: duIr;
  border-radius: 10%;
}

.singLogIn {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;

}

.entrando {
  display: none;
  width: 25%;
  height: 50%;
  background-color: #0c6d16;
  font-size: 0.99em;
  margin-inline-start: 75%;
}

.section_container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: none;
  justify-content: center;
  align-items: center;
  margin-block-start: 7%;

}

.article_section_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr );
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
}

.title_section {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c6d16;
  font-size: 2.5em;
  font-family: geo;
  text-align: center;
  color: #FDCE6D;
  border-radius: 35%;
  object-fit: contain;
}

.section_article {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  text-align: center;
  background-color: #e7c37c;
  padding: 1%;
  border-radius: 10%;

}

.titulo_section_article {
  color: #CD4C0F;
  font-size: 1.5em;
  font-family: gae;
  text-align: center;
  background-color: #0c6d16;
  border-radius: 500%;
  width: max-content;

}

.ul_section {
  display: flex;
  flex-flow: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0c6d16;
  color: #FDCE6D;
  font-size: 1.5em;
  text-align: center;
  font-family: duIr;
  border-radius: 10%;

}

.consumibles {
  margin: 1%;
  font-size: 1.5em;
  font-family: geo;
  text-align: center;
  text-transform:lowercase;
}

.consumibles:hover {
  background-color: #FDCE6D;
  color: #0c6d16;
  border-radius: 10%;
  font-size: 1.5em;
  font-family: duIr;
  text-align: center;
  text-transform:uppercase;

}

.pie {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c6d16;
  color: #FDCE6D;
  font-size: 1.5em;
  font-family: duIr;
}


/* FORMULARIO */

.container_form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.header_form {
  width: 45%;


}


.registros {
  display: flex;
  flex-flow: column;
  width: 35%;
  height: max-content;
  background-color: #0c6d16;
  justify-content: center;
  align-items: center;
  margin: 1%;


}

.registros h1 {
  padding-inline-start: 2%;
  color: #FDCE6D;
  font-size: 2em;
  font-family: duIr;
  text-align: center;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.form_reg {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;

}

.form_reg input {
  width: 30%;
  height: fit-content;
  margin: 5px;
  font-size: 1.5em;
  background-color: #FDCE6D;
}

.form_reg label {
  width: max-content;
  height: fit-content;
  margin: 5px;
  font-size: 1.5em;
  background-color: #FDCE6D;
  font-style: italic;
  font-weight: 200;

}



@media (min-width: 384px) {
    .container {
      height: auto;
      flex-wrap: wrap;
    }
  
    .header_container {
      height: 25vh;
    }
  
    .title_header {
      font-size: 2.7em;
      height: 15vh;
    }
  
    .nav_header {
      height: 12vh;
      width: auto;
    }
  
    .ul_nav {
      width: 80%;
      justify-content: space-evenly;
      align-items: center;
      flex-flow: row;
      font-size: 0.5em;
    }
   
  
    #fechaDia {
      font-size: 0.8em;
    }
  
    .entrando {
      width: 50%;
      height: 70%;
      margin-inline-start: 25%;
    }
  
    .section_container {
      height: auto;
    }
    .article_section_container{
      grid-template-columns: repeat(2, 1fr );

    }
  
    .title_section {
      font-size: 2em;
    }
  
    .titulo_section_article {
      font-size: 1em;
    }
  
    .ul_section {
      font-size: 1em;
    }
  
    .container_form {
      height: auto;
    }
  
    .header_form {
      width: 70%;
    }
  
    .registros {
      width: 70%;
    }
  
    .registros h1 {
      font-size: 1.5em;
      margin: 5px;
    }
  
    .form_reg input,
    .form_reg label {
      width: 50%;
      font-size: 1em;
    }
  }