* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: duIr;
  src: url(../fuentes/IrishGrover-Regular.ttf);
}

@font-face {
  font-family: gae;
  src: url(../fuentes/NotoSansJP-VariableFont_wght.ttf);

}

/* Estilos para pantallas más grandes */
.container {
  max-width: min(100%,3140px);
  height: 140vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.header_container {
  width: 95%;
  height: 20vh;
  padding-inline-start: 2%;


}

.title_header {
  /* object-fit: contain; */
  height: 10vh;
  padding: 2%;
  color:#fac353;
  font-size: 3.5em;
  font-weight: 500;
  font-family: duIr;
  text-align: center;
  background-color: #0c6d16;
}


.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 11.5vh;
  background-color: #FDCE6D;
  margin: 0.1%;
}

.ul_nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
  align-items: center;

}



.ul_nav li a {
  width: max-content;
  text-decoration: none;
  color: #ffffff;
  background-color: #0c6d16;
  font-size: 1.5em;
  font-family: duIr;
  padding: 3px;
}

#fechaDia {
  color: #ffffff;
  /* width: 30%; */
  background-color: #0c6d16;
  font-size: 0.99em;
  font-family: duIr;
  border-radius: 10%;
}

.singLogIn{
  background-color: #0c6d16;
  font-size: 0.99em;
  font-family: duIr;
  border-radius: 10%;
  color: #ffffff;
  text-decoration: none;
  padding: 3px;
}

.entrando {
  display: none;
  width: 25%;
  height: 15vh;
  background-color: #0c6d16;
  font-size: 0.99em;
  margin-inline-start: 75%;
}

.section_container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: none;
  justify-content: center;
  align-items: center;
  margin-block-start: 10%;

}

.article_section_container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  flex-wrap: wrap;
}

.title_section {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c6d16;
  font-size: 2.5em;
  font-family: geo;
  text-align: center;
  color: #FDCE6D;
  border-radius: 35%;
  object-fit: contain;
}

.section_article {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  text-align: center;
  background-color: #e7c37c;
  padding: 1%;
  border-radius: 10%;

}

.titulo_section_article {
  color: #CD4C0F;
  font-size: 1.8em;
  font-family: gae;
  text-align: center;
  background-color: #0c6d16;
  border-radius: 500%;
  width: max-content;
  height: max-content;
  padding: 3%;

}

.ul_section {
  display: flex;
  flex-flow: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0c6d16;
  color: #FDCE6D;
  font-size: 1.5em;
  text-align: center;
  font-family: duIr;
  border-radius: 10%;

}

.consumibles {
  margin: 1%;
  font-size: 1.5em;
  font-family: geo;
  text-align: center;
  text-transform: lowercase;
}

.consumibles:hover {
  background-color: #FDCE6D;
  color: #0c6d16;
  border-radius: 10%;
  font-size: 1.5em;
  font-family: duIr;
  text-align: center;
  text-transform: uppercase;

}
#combis{

  background-color: #0c6d16;
  width: 20vw;
  height: 55%;
  font-size: 1.5em;
  object-position: center;
  object-fit: contain;
  border-radius: 10%;
}
.carousel1{
  width: 75%;
  height: 100%;

  
}
.carousel{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;

}


.pie {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c6d16;
  color: #FDCE6D;
  font-size: 1em;
  font-family: duIr;
}


/* FORMULARIO */

.container_form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.header_form {
  width: 45%;


}

.registros {
  display: flex;
  flex-flow: column;
  width: 35%;
  height: max-content;
  background-color: #0c6d16;
  justify-content: center;
  align-items: center;
  margin: 1%;


}

.registros h1 {
  padding-inline-start: 2%;
  color: #FDCE6D;
  font-size: 2em;
  font-family: duIr;
  text-align: center;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.form_reg {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;

}

.form_reg input {
  width: 30%;
  height: fit-content;
  margin: 5px;
  font-size: 1.5em;
  background-color: #FDCE6D;
}

.form_reg label {
  width: max-content;
  height: fit-content;
  margin: 5px;
  font-size: 1.5em;
  background-color: #FDCE6D;
  font-style: italic;
  font-weight: 200;

}



@media (min-width: 250px) and ( max-width: 768px)  {
  .container {
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }

  .header_container {
    height: 30vh;
  }

  .title_header {
    font-size: 2.7em;
    height: 15vh;
  }

  .nav_header {
    height: 12vh;
    width: auto;
  }

  .ul_nav {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
    font-size: 0.7em;
    list-style-type: none;
    flex-wrap: wrap;
  }

  .listadop {
    font-size: 0.7em;
    padding: 1%;
    margin: 1%;
    text-align: center;
  }


  #fechaDia {
    font-size: 0.8em;
    width: 30%;

  }

  .singLogIn {
    width: 10%;
    font-size: 0.8em;
    margin: 1%;
    padding: 1%;
    flex-wrap: wrap;

  }

  .entrando {
    width: 50%;
    height: 70%;
    margin-inline-start: 50%;
    font-size: 0.8em;
  }

  .section_container {
    height: auto;
  }

  .article_section_container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    height: auto;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;

  }

  .title_section {
    font-size: 2em;
  }

  .titulo_section_article {
    font-size: 1em;
  }

  .ul_section {
    font-size: 1em;
  }

  .container_form {
    height: auto;
  }

  .header_form {
    width: 70%;
  }

  .registros {
    width: 70%;
  }

  .registros h1 {
    font-size: 1.5em;
    margin: 5px;
  }

  .form_reg input,
  .form_reg label {
    width: 50%;
    font-size: 1em;
  }
}
