/*Diseño siempre para el móvil primero  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: duIr;
    src: url(../fuentes/IrishGrover-Regular.ttf);
}

@font-face {
    font-family: gae;
    src: url(../fuentes/NotoSansJP-VariableFont_wght.ttf);
}

.container {
    width: 50;
    height: 665vh;
    background-color: #452f27;
}

.header_container {

    height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-inline-start: 0.1%;

    article {


        h1 {

            width: 100%;
            height: fit-content;
            text-align: center;
            font-family: duIr;
            font-size: 2em;
            color: #0c6d16;
            background-color: #fac353;
            border-radius: 25%;
            padding-top: 2%;
            margin-top: 1%;
        }

        time-datetime {
            display: block;
            height: 100%;
            font-size: 1em;
            color: #fac353;
            font-family: duIr;
        }
    }

}



.nav_header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    background-color: #0c6d16;
    border-radius: 25%;

    ul {
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-flow: column;
        justify-content: space-between;
        padding: 0.5%;
        margin: 1%;



        li {
            width: 100%;
            height: 100%;
            margin: 1%;
            padding: 0% 0.5% 0% 10%;
            list-style-type: none;
            border: #452f27 1px solid;
            border-radius: 33%;


            a {
                text-decoration: none;
                color: #fac353;
                font-family: duIr;
                font-size: 1em;

            }
        }
    }

    time-datetime {
        display: none;

    }

    article {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;


        a {
            width: 50%;
            text-decoration: none;
            color: #fac353;
            font-family: duIr;
            font-size: 1em;
            margin-top: 25%;
        }

        button {
            margin-top: 25%;
            width: 50%;
            height: 50%;
            background: #0c6d16;
            color: #fac353;
            border-radius: 50%;
            font-family: duIr;
            font-size: 1em;
            border: #452f27 1px solid;

        }
    }

    h6 {
        color: #fac353;
        font-family: duIr;
        font-size: 1em;
        margin-top: 25%;
    }
}


.entrando {
    display: flex;
    flex-flow: column;
    display: none;
    width: 42%;
    height: 20vh;
    background-color: #0c6d16;
    font-size: 0.99em;
    margin-inline-start: 55%;
    margin-top: 2%;
    z-index: 2;

    h4 {
        color: #fac353;
        font-family: duIr;
        font-size: 1.5em;
        text-align: center;
    }

    form {
        display: flex;
        flex-flow: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fac353;
        font-family: duIr;
        font-size: 1em;

        label {
            height: 23%;
            width: 50%;
        }

        input {
            width: 95%;
        }
    }

}

.section_container {
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1%;

    h2 {
        width: 100%;
        height: fit-content;
        color: #fac353;
        font-family: gae;
        font-size: 2em;
        text-align: center;
        background-color: #0c6d16;
        border-radius: 50%;
        margin: 2%;

    }

}

.section_container_section {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    article {
        width: fit-content;
        height: 100%;
        background-color: #0c6d16;
        padding: 1%;
        margin: 1%;

        h3 {

            color: #452f27;
            font-family: gae;
            font-size: 1.5em;
            text-align: center;
            background-color: #fac353;
        }

        li {
            color: #fac353;
            font-family: duIr;
            font-size: 1.5em;
            text-align: center;
            list-style-type: none;

        }

    }

}

.combis {
    width: 50%;
}

.pie {

    width: 100%;
    height: 25vh;
    background-color: #0c6d16;
    color: #fac353;
    font-family: duIr;
    font-size: 1em;
    text-align: center;
    margin-top: 3%;


}

.contact_pie {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h3 {
        width: 100%;
        height: fit-content;
        color: #452f27;
        font-family: gae;
        font-size: 1.5em;
        text-align: center;
        background-color: #fac353;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-bottom: #ea4509 5px solid;
    }

}

.redes_pie {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 1%;

    h3 {
        width: 100%;
        height: fit-content;
        color: #452f27;
        font-family: gae;
        font-size: 1.5em;
        text-align: center;
        background-color: #fac353;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        /* border-bottom: #ea4509 5px solid; */

        li {
            width: 100%;
            padding: 1%;

            a {

                width: 100%;

                text-decoration: none;

                i {
                    width: 100%;
                    height: 100%;
                    color: #fac353;
                    font-size: 2em;
                    text-align: center;
                    background-color: #0c6d16;

                }
            }
        }
    }
}




/*DISEÑO RESPONSIVO*/





/* Diseño para Celulares */
@media screen and (min-width: 400px) {
    .header_container {
        article {


            h1 {
                font-size: 3em;
            }

            time-datetime {
                display: none;

            }

        }
    }

    .nav_header {
        width: 100%;
        height: 16vh;

        ul {
            height: fit-content;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            flex-flow: row;

            a {
                font-size: 2.5em;
            }
        }

        time-datetime {
            text-align: center;
            display: block;
            font-size: 1.2em;
            width: 30%;
            height: max-content;
            color: #fac353;
            font-family: duIr;
            border: #452f27 1px solid;
        }
    }


}


/* Diseño para Tablets */
@media screen and (max-width: 768px) {}

/* Diseño para Tablets */
@media screen and (min-width: 1024px)  {
    .container {
        
        height: 310vh;
    }
    .nav_header {
        ul{ grid-template-columns: repeat(4, 1fr);
            li{
               
                background-color: #452f27;

                a{padding: 1%;
                    margin-top: 1.5%;
                    text-align: center;
                    font-size: 1.7em;
                }
            }
        }
    }
    .section_container_section {
        grid-template-columns: repeat(4, 1fr);

        section {
            margin: 2%;
            
            article {
                margin: 0 auto;
            }
        }

    }
.combis {
    width: 10%;
}
.pie {
    display: grid;
    height: 12vh;
    grid-template-columns: repeat(2, 1fr);
}
}